/* src/styles/UserProfile.css */
.user-profile {
    position: relative;
    right:45px;
    display: inline-block;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.user-image:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdown-menu ul li {
    padding: 10px 20px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu ul li a:hover {
    background-color: #f1f1f1;
}
